<div class="customModalContainer">
  <div class="customModal">
    <span class="customModal__x noselect">X</span>
    
    <section class="customModal__pictureSection">
      <div class="customModalPictureContainer">
        <img alt="incorrectAnswerPicture" src="/assets/images/incorrectAnswer.png" class="customModalPicture"  />
      </div>
    </section>

    <section class="customModal__contentSection">
      <div class="customModalContentContainer">
        <p class="customModalContent">
          La diferencia de la pantalla tipo 4 y tipo 5 es que la pantalla tipo cuatro es de transición
          mientras que la pantalla tipo 5 te lleva a un final, por lo tanto, en esta pantalla debe
          colocarse una retroalimentación de la decisión errónea que se ha tomado.En este espacio debe colocarse la retroalimentación.
        </p>

        <p class="customModalContent">En este espacio debe colocarse la retroalimentación.</p>
      </div>
    </section>

    <section class="customModal__buttonsSection buttonsSection">
      <button class="buttonsSection__button buttonsSection__button--reload">
        <span class="buttonsSection__text">Reiniciar</span>
      </button>

      <button class="buttonsSection__button buttonsSection__button--back">
        <span class="buttonsSection__text">Regresar</span>
        <span class="buttonsSection__iconContainer">
          <img src="/assets/images/reloadbutton-icon.png" alt="reloadbutton" class="buttonsSection__icon" >
        </span>
      </button>
    </section>
  </div>
</div>