<div class="ovaObjectives containerWithCustomScroll">
  <div class="ovaObjectives__imageContainer">
    <img class="ovaObjectives__image" src="/assets/images/instructionsDetail.png">
  </div>

  <div class="ovaObjectives__separatorContainer">
    <span class="ovaObjectives__separator"> </span>
  </div>

  <div class="ovaObjectives__descriptionContainer">
    <p class="ovaObjectives__description">
      <span class="ovaObjectives__descriptionTitle">El siguiente texto es genérico y no debe ser modificado por el temático:</span>
    </p>

    <ul class="ovaObjectives__objectivesContainer">
      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            Al ingresar al simulador podrás ver el contexto en el cual el reto se plantea.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            A medida que vas avanzando en la práctica de laboratorio se te presentarán situaciones que requieren tomar una decisión adecuada.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            También encontrarás ejercicios de aprendizaje que te permiten reforzar conceptos y te preparan para el momento en que debas tomar la decisión.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            Cada vez que tomes una decisión correcta <span class="ovaObjectives__descriptionTitle">ganarás una estrella.</span>
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle">
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>