
<h1 class="mainContainer__mainTitle">Registro de Datos</h1>

<div>
  <img src="/assets/images/person.png" class="mainContainer__secondaryBackground" >

  <div style="display: flex;">
    <div style="width: 33.33%;"></div>

    <div class="userRegistrationFormContainer">
      <form class="userRegistrationForm">
        <div class="userRegistrationForm__inputGroup">
          <div class="inputGroup__labelContainer">
            <label for="dato1" class="inputGroup__label">Nombre</label>
          </div>
          <div class="inputGroupContainer">
            <input type="text" id="dato1" name="dato1" class="inputGroup__input">
          </div>
        </div>
    
        <div class="userRegistrationForm__inputGroup">
          <div class="inputGroup__labelContainer">
            <label for="dato2" class="inputGroup__label">Dato 2</label>
          </div>
          <div class="inputGroupContainer">
            <input type="text" id="dato2" name="dato2" class="inputGroup__input">
          </div>
        </div>
    
        <div class="userRegistrationForm__inputGroup">
          <div class="inputGroup__labelContainer">
            <label for="dato3" class="inputGroup__label">Dato 3</label>
          </div>
          <div class="inputGroupContainer">
            <input type="text" id="dato3" name="dato3" class="inputGroup__input">
          </div>
        </div>
    
        <div class="userRegistrationForm__inputGroup">
          <div class="inputGroup__labelContainer">
            <label for="dato4" class="inputGroup__label">Dato 4</label>
          </div>
          <div class="inputGroupContainer">
            <input type="text" id="dato4" name="dato4" class="inputGroup__input">
          </div>
        </div>
    
        <div class="userRegistrationForm__buttonsContainer">
          <button type="submit" class="userRegistrationForm__button">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
