<div class="generalInstructions">
  <div class="generalInstructions__infoContainer">
    <div class="tabsContainer">
      <button class="tabsContainer__button tabsContainer__buttonObjectives">
        <span>Objetivos</span>
      </button>

      <button class="tabsContainer__button tabsContainer__buttonThematic">
        <span>Temáticas</span>
      </button>

      <button class="tabsContainer__button tabsContainer__buttonInstruction">
        <span>Instrucciones</span>
      </button>

      <button class="tabsContainer__button tabsContainer__buttonGlosary">
        <span>Glosario</span>
      </button>

    </div>

    <div class="mainInstructionsContainer"></div>

    <div class="extraSection"></div>
  </div>

  <div class="generalInstructions__sectionImageContainer">
    <div class="generalInstructions__imageContainer">
      <img class="generalInstructions__image" src="assets/images/general-instructions.png" >
    </div>
  </div>

  <div class="challengeAlert">
    <div class="challengeAlert__imageContainer">
      <img class="challengeAlert__image" src="assets/images/important.png" >
    </div>

    <div class="challengeAlert__descriptionContainer challengeAlert__descriptionContainer--instructions">
      <div class="challengeAlert__titleContainer">
        <h3 class="challengeAlert__title"></h3>
      </div>

      <div class="challengeAlert__detailContainer">
        <p class="challengeAlert__detail challengeAlert__detail--instructions">
          <span class="highlightText">.</span>
        </p>
      </div>
    </div>
  </div>

  <div class="buttonsSectionContainer">
    <div class="buttonsSection buttonsSection--context2">
      <button type="button" class="buttonsSection__button buttonsSection__button--previousButton instructionsPreviousButton">
        <span class="previousButton__iconContainer">
          <img src="assets/images/nextbutton-icon.jpg" class="previousButton__icon mirrorEffect" >
        </span>
        <span class="nextButton__text">Anterior</span>
      </button>

      <button type="button" class="buttonsSection__button buttonsSection__button--nextButton instructionsNextButton">
        <span class="nextButton__text">Siguiente</span>
        <span class="nextButton__iconContainer">
          <img src="assets/images/nextbutton-icon.jpg" class="nextButton__icon" >
        </span>
      </button>
    </div>
  </div>
</div>