<div class="ovaObjectives containerWithCustomScroll">
  <div class="ovaObjectives__imageContainer">
    <img class="ovaObjectives__image" src="assets/images/books.png" >
  </div>

  <div class="ovaObjectives__separatorContainer">
    <span class="ovaObjectives__separator"> </span>
  </div>

  <div class="ovaObjectives__descriptionContainer">
    <div class="ovaObjectives__descriptionsTitles">
      <p class="ovaObjectives__descriptionTitleContainer">
        <span class="ovaObjectives__descriptionTitle">Se describen las temáticas y teoría a abordar en el desarrollo del OVA.</span>
      </p>
    </div>

    <ul class="ovaObjectives__objectivesContainer">
      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 1: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>