<div class="ovaObjectives containerWithCustomScroll">
  <div class="ovaObjectives__imageContainer">
    <img class="ovaObjectives__image" src="/assets/images/books.png" >
  </div>

  <div class="ovaObjectives__separatorContainer">
    <span class="ovaObjectives__separator"> </span>
  </div>

  <div class="ovaObjectives__descriptionContainer">
    <p class="ovaObjectives__description">
      <span class="ovaObjectives__descriptionTitle">Se describen las temáticas y teoría a abordar en el desarrollo del OVA.</span>
    </p>

    <ul class="ovaObjectives__objectivesContainer">
      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 1: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 2: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 3: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 1: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 2: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 3: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 1: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 2: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 3: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 1: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 2: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 3: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 1: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 2: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 3: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 1: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 2: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 3: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer" style="margin-bottom: 1rem">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <span class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 1: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </span>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 2: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
          </p>
        </div>
      </li>

      <li class="ovaObjectives__objectiveContainer">
        <div class="objetiveImageContainer">
          <img class="objetiveImage" src="/assets/images/circle.png" alt="circle" >
        </div>

        <div class="objectiveDescriptionContainer">
          <p class="objectiveDescription">
            <span class="ovaObjectives__descriptionTitle">Tema 3: </span>
            lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>