
<div class="welcome">
  <div class="welcomePictureContainer">
    <img src="assets/images/welcomeMessage.png" alt="welcomeMessage" class="welcomePicture">
  </div>

  <div class="welcomeDetail">
    <div class="welcomeDetail__pictureContainer">
      <img src="assets/images/welcomeMessage2.png" class="welcomeDetail__picture">
    </div>

    <div class="welcomeDetail__textContainer">
      <p class="welcomeDetail__text">
        Ahora que has terminado el estudio de esta unidad temática, te invitamos a que utilices todos los saberes de los que dispones para que resuelvas el reto con una solución innovadora y eficiente.
      </p>
    </div>

    <div class="euphorycTextContainer">
      <h1 class="euphorycText">¡Sorprendete con lo que puedes hacer!</h1>
    </div>

    <div class="buttonsSection buttonsSection--welcome">
      <button class="buttonsSection__button">
        <span class="buttonsSection__text">Iniciar</span>
      </button>
    </div>
  </div>
</div>