
<div class="welcome">
  <div class="welcomePictureContainer">
    <img src="assets/images/welcomePicture.png" alt="welcomeMessage" class="welcomePicture">
  </div>

  <div class="welcomeDetail">
    <div class="welcomeDetail__pictureContainer">
      <div class="enviromentName"></div>
    </div>

    <div class="welcomeDetail__textContainer"></div>

    <div class="euphorycTextContainer"></div>

    <div class="buttonsSection buttonsSection--welcome">
      <button class="buttonsSection__button">
        <span class="buttonsSection__text">Iniciar</span>
      </button>
    </div>
  </div>
</div>