<div class="customModalContainer">
  <div class="customModal">
    <span class="customModal__x noselect">X</span>
    
    <section class="customModal__starsSection">
      <div class="customModalStarsPictureContainer">
        <div class="customModalStarPictureContainer">
          <img alt="stars Picture" class="customModalStarsPicture"  />
        </div>
      </div>
    </section>

    <section class="customModal__pictureSection">
      <div class="customModalPictureContainer">
        <img alt="goodAnswerPicture" class="customModalPicture" src="assets/images/goodAnswer.png" />
      </div>
    </section>

    <section class="customModal__contentSection">
      <div class="customModalContentContainer"></div>
    </section>

    <section class="buttonsSection buttonsSection--customModal">
      <button class="buttonsSection__button buttonsSection__button--continueButton">
        <span class="buttonsSection__text">Continuar</span>
      </button>
    </section>
  </div>
</div>