
.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  margin-top: 3rem;
  margin-bottom: 0;
}

.enviromentName_1 {
  color: #ea00a5;
  font-weight: 700;
  font-size: 1.6rem;
  display: block;
  text-align: center;
}

.enviromentName_2 {
  display: block;
  color: #4528a7;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 3.2rem;
  text-align: center;
}

.welcomePicture, .welcomeDetail__picture {
  width: 100%;
  height: 100%;
}

.welcomeDetail__pictureContainer {
  width: 75%;
  margin: 0 auto;
}

.welcomePictureContainer {
  display: inline-block;
  width: min(490px, 100%);
  height: max-content;
  margin-bottom: 2rem;
}

.welcomeDetail {
  display: inline-block;
  width: min(390px, 100%);
}

.welcomeDetail__textContainer {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.welcomeDetail__text {
  color: #00345b;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.euphorycTextContainer {
  margin-bottom: 3rem;
}

.euphorycText {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #4528a7;
}

.buttonsSection--welcome {
  display: flex;
  justify-content: center;
}