<div class="decisionMakingMainContainer">
  <div class="decisionMakingIconContainer">
    <img src="../../../assets/images/decisionMakingIcon.png" alt="decisionMakingIcon" class="decisionMakingIcon" >
  </div>

  <div class="decisionMakingDescriptionContainer">
    <h3 class="decisionMakingDescriptionContainer__title">Texto corto donde se le propone al usuario tomar una decisión de acuerdo a determinada situación.</h3>

    <p>
      <span style="font-weight: 600;">Ejemplo: </span>Es hora de tomar decisiones, ¿qué vas a empezar a revisar para encontrar la falla?
    </p>

    <p>
      Analiza cada una de las opciones y selecciona la que consideres conveniente haciendo clic en el círculo.
    </p>

    <div class="decisionMakingOptionsContainer">
      <div class="decisionMakingOption">
        <label for="" class="decisionMakingOptions__label decisionMakingOptions__label--active">La programación del PLC.</label>
  
        <div class="decisionMakingOptions__inputImageContainer">
          <div id="option_1" class="decisionMakingOptions__input decisionMakingOptions__input--active"></div>
        </div>
      </div>

      <div class="decisionMakingOption">
        <label id="option_2" class="decisionMakingOptions__label">El cableado entre el sensor del caldero y el PLC.</label>
  
        <div class="decisionMakingOptions__inputImageContainer">
          <div id="option_3" class="decisionMakingOptions__input"></div>
        </div>
      </div>

      <div class="decisionMakingOption">
        <label for="" class="decisionMakingOptions__label">El sensor de temperatura del caldero.</label>
  
        <div class="decisionMakingOptions__inputImageContainer">
          <div src="" alt="" class="decisionMakingOptions__input"></div>
        </div>
      </div>
    </div>

    <div>

    </div>
  </div>

  <div class="decisionMakingPictureContainer">
    <img src="../../../assets/images/decisionMaking.png" alt="decisionMaking" class="decisionMakingPicture" >
  </div>
</div>

<div style="display: flex; justify-content: end; padding-top: 2rem;">
  <div class="buttonsSection">
    <div class="buttonsSections__nextButtonContainer">
      <button type="button" class="previousButton ovaContext__previousButton">
        <span class="previousButton__iconContainer--mirrorEffect">
          <img src="../../../assets/images/nextbutton-icon.jpg" class="previousButton__icon mirrorEffect" >
        </span>
        <span class="nextButton__text">Anterior</span>
      </button>
  
      <button type="button" class="nextButton ovaContext__nextButton">
        <span class="nextButton__text">Siguiente</span>
        <span class="nextButton__iconContainer">
          <img src="../../../assets/images/nextbutton-icon.jpg" class="nextButton__icon" >
        </span>
      </button>
    </div>
  </div>
</div>
