<div class="customModalContainer">
  <div class="customModal">
    <span class="customModal__x noselect">X</span>
    
    <section class="customModal__pictureSection">
      <div class="customModalPictureContainer">
        <img alt="goodAnswerPicture" class="customModalPicture" src="/assets/images/answersCompleted.png"  />
      </div>
    </section>

    <section class="customModal__contentSection">
      <div class="customModalContentContainer">
        <p class="customModalContent">
          En este apartado se coloca un mensaje de felicitación con alguna indicación que el temático considere pertinente para seguir avanzando.
        </p>
      </div>
    </section>

    <section class="customModal__buttonsSection buttonsSection">
      <button class="buttonsSection__button buttonsSection__button--completed">
        <span class="buttonsSection__text">Aceptar</span>
      </button>
    </section>
  </div>
</div>