<div class="customModalContainer">
  <div class="customModal">
    <span class="customModal__x noselect">X</span>
    
    <section class="customModal__pictureSection">
      <div class="customModalPictureContainer">
        <img alt="goodAnswerPicture" class="customModalPicture" src="assets/images/answersCompleted.png"  />
      </div>
    </section>

    <section class="customModal__contentSection">
      <div class="customModalContentContainer">
        <p class="customModalContent"></p>
      </div>
    </section>

    <section class="buttonsSection buttonsSection--customModal">
      <button class="buttonsSection__button buttonsSection__button--confirmButton answersCompletedConfirmButton">
        <span class="buttonsSection__text">Aceptar</span>
      </button>
    </section>
  </div>
</div>