<div class="generalPresentation">
  <div class="generalPresentationDescripcionContainer">
    <div class="mainContainer__mainTitleContainer">
      <h1 class="mainContainer__mainTitle"></h1>
    </div>
    <div class="generalPresentationDescripcion containerWithCustomScroll">
      <div class="generalPresentationDescripcion__mainParagraphContainer">
        <p class="generalPresentationDescripcion__mainParagraphContainer"></p>
      </div>
      
      <div class="generalPresentationDescripcion__completeInformationContainer">
        <p class="generalPresentationDescripcion__completeInformation"></p>
      </div>
    </div>
  </div>

  <div class="generalPresentationImageContainer">
    <img src="assets/images/general-presentation.png" alt="General Presentation Image" class="generalPresentationImage" style="border-radius: 0.7rem;" >
  </div>

  <div class="challengeAlert">
    <div class="challengeAlert__imageContainer">
      <img class="challengeAlert__image" src="assets/images/challenge.png" >
    </div>

    <div class="challengeAlert__descriptionContainer">
      <div class="challengeAlert__titleContainer">
        <h3 class="challengeAlert__title"></h3>
      </div>

      <div class="challengeAlert__detailContainer">
        <p class="challengeAlert__detail"></p>
      </div>
    </div>
  </div>

  <div class="buttonsSectionContainer">
    <div class="buttonsSection buttonsSection--presentation">
      <button type="button" class="buttonsSection__button buttonsSection__button--previousButton presentationPreviousButton">
        <span class="previousButton__iconContainer">
          <img src="assets/images/nextbutton-icon.jpg" class="previousButton__icon mirrorEffect" >
        </span>
        <span class="previousButton__text"></span>
      </button>

      <button type="button" class="buttonsSection__button buttonsSection__button--nextButton presentationNextButton">
        <span class="nextButton__text"></span>
        <span class="nextButton__iconContainer">
          <img src="assets/images/nextbutton-icon.jpg" class="nextButton__icon" >
        </span>
      </button>
    </div>
  </div>
</div>