<div class="decisionMaking2">
  <section class="decisionMaking2__iconSection">
    <div class="decisionMaking2__iconContainer">
      <div class="decisionMaking2__icon"></div>
    </div>
  </section>

  <section class="decisionMaking2__mainSection">
    <div class="decisionMaking2__titlesContainer">
      <p class="decisionMaking2__titles"></p>
    </div>

    <div class="decisionMaking2__descriptionContainer">
      <p class="decisionMaking2__description"></p>
    </div>

    <div class="decisionMaking2__optionsContainer">
      <div class="decisionMaking2__optionContainer">
        <div class="decisionMaking2__optionLetterContainer"></div>
        <div class="decisionMaking2__optionTextContainer"></div>
        <div class="decisionMaking2__optionIconContainer"></div>
      </div>
    </div>

    <div class="decisionMaking2__radioButtonsContainer">
      <div class="decisionMaking2__radioButtonContainer">
        <div class="decisionMaking2__radioButtonTextContainer">
          <span class="decisionMaking2__radioButtonText"></span>
        </div>

        <div class="decisionMaking2__radioButtonIconContainer">
          <div class="decisionMaking2__radioButtonIcon decisionMaking2__radioButtonIcon--active"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="decisionMaking2__secundarySection">
    <div class="decisionMaking2__mainPictureContainer">
      <div class="decisionMaking2__mainPicture"></div>
    </div>

    <div class="buttonsSectionContainer buttonsSection--decisionMaking2">
      <div class="buttonsSection buttonsSection--decisionMaking2">
        <button type="button" class="buttonsSection__button buttonsSection__button--previousButton decisionMaking2PreviousButton">
          <span class="previousButton__iconContainer">
            <img src="/assets/images/nextbutton-icon.jpg" class="previousButton__icon mirrorEffect" >
          </span>
          <span class="previousButton__text">Anterior</span>
        </button>
  
        <button type="button" class="buttonsSection__button buttonsSection__button--nextButton decisionMaking2NextButton">
          <span class="nextButton__text">Siguiente</span>
          <span class="nextButton__iconContainer">
            <img src="/assets/images/nextbutton-icon.jpg" class="nextButton__icon" >
          </span>
        </button>
      </div>
    </div>
  </section>
</div>