<div class="customModalContainer">
  <div class="customModal">
    <span class="customModal__x noselect">X</span>
    
    <section class="customModal__pictureSection">
      <div class="customModalPictureContainer">
        <img alt="incorrectAnswerPicture" src="assets/images/incorrectAnswer.png" class="customModalPicture"  />
      </div>
    </section>

    <section class="customModal__contentSection">
      <div class="customModalContentContainer">
        <p class="customModalContent"></p>
      </div>
    </section>

    <section class="buttonsSection buttonsSection--customModal">
      <button class="buttonsSection__button buttonsSection__button--reloadButton badAnswerReloadButton">
        <span class="buttonsSection__text">Reiniciar</span>
      </button>

      <button class="buttonsSection__button buttonsSection__button--backButton badAnswerBackButton">
        <span class="buttonsSection__text">Regresar</span>
        <span class="buttonsSection__iconContainer">
          <img src="assets/images/reloadbutton-icon.png" alt="reloadbutton" class="buttonsSection__icon" >
        </span>
      </button>
    </section>
  </div>
</div>